body {
  font-family: "Satoshi", sans-serif;
  padding: 20px;
  background-color: #f9fafc;
}

.container {
  width: 100%;
  max-width: 1024px;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 22px;
}

.form__group {
  width: 100%;
  display: grid;
  row-gap: 10px;
}

.form__label {
  display: block;
  font-weight: 500;
  color: #27313b;
}

.form__input {
  padding: 15px 20px;
  border-radius: 15px;
  border: 2px solid #f2f2f4;
}

.data__container {
  padding: 35px;
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  border-radius: 30px;
  border: 2px solid #eff4f8;
}

.chart__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

canvas {
  border-radius: 30px;
  background: #fff;
  width: 100%;
  max-width: 500px;
  max-height: 350px;
  padding: 15px;
  border: 2px solid #eff4f8;
}

.input-group {
  margin-bottom: 15px;
}
